@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "./vars.scss";

@import "./buttons.scss";



html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
    color: inherit;
    list-style: none;
    box-sizing: border-box;
}



.link{
    color: var(--color-verde);

    &:hover{
        color: var(--color-verde-light);
    }
}

.menu{

    transition: all 400ms;

    &:hover{
        transform: scale(1.1);
    }
}



.drop-parent{

    position: relative;

    .drop-down{
        display: none;
        position: absolute;
        box-shadow: 1px 3px 3px var(--color-cinza-light);
        overflow: hidden;
        width: 100%;
        padding: 0;
        padding-top: 25px;
        top: 20px;

        z-index: 99999;

        background: var(--color-light);

        border-radius: 0 0 5px 5px;
        
        ul{
            display: flex!important;
            flex-direction: column!important;
            li{
                transition: all 150ms ease;
                display: flex;
                a{
                    width: 100%;
                    transition: all 150ms ease;
                }
                background: var(--color-light);
                padding: 10px 0;
                width: 100%;
                &:hover{
                    background-color: #008072;
                    
                }

                &:hover .link{
                    color: #fff!important;
                } 
            }
        }
        
    }

    &:hover .drop-down{
        display: block;
    }
}


.btnGoTop{

    position: fixed;

    right: 40px;
    bottom: 40px;

    border-radius: 50%;

    border: 1px solid var(--color-vermelho);

    opacity: 0.6;

    &:hover{
        opacity: 1;
    }
}